<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"
    />
    <link rel="stylesheet" href="/public/assets/css/todo.css" />
    <script defer src="/public/assets/js/todo.js"></script>
    <title>ToDoList</title>
  </head>
  <body>
    <div class="inner">
      <!-- 헤더 -->
      <header>
        <h1>TO-DO LIST</h1>
      </header>

      <!-- 본문 -->
      <div>
        <!-- 전체/진행중/완료 조회 -->
        <div class="searchBox">
          <p class="searchBtn btn-all"></p>
          <p class="searchBtn btn-before"></p>
          <p class="searchBtn btn-after"></p>
        </div>

        <!-- Todo-List -->
        <div class="listBox">
          <!-- 작성하기 -->
          <div class="addBox">
            <div class="addBox_inner">
              <input
                type="text"
                class="addTxt"
                placeholder="새로 작성하기(닉네임)"
              />
              <input type="button" class="addBtn" value="+" />
            </div>
          </div>

          <!-- 전체선택/삭제 -->
          <div class="allCheckBox">
            <label class="allSelect_lb"
              ><input type="checkbox" class="allSelect" />전체선택</label
            >
            <a href="javascript:void(0)" class="allDel">전체삭제</a>
          </div>

          <!-- 목록 -->
          <div class="listBox_inner"></div>
        </div>
      </div>
    </div>
  </body>
</html>
