<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="img/logo2.png" />
  <title>프젝돔이</title>
  <link rel="stylesheet" href="/css/index.css" />
  <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"
  charset="utf-8"></script>
</head>

<body>
  <div class="mid">
    <div class="logo">
      <img src="img/logo.png" style="width: 450px; height: 450px; margin-top: 20px" />
    </div>
    <div class="info" style="font-size: 15pt">
      <h1 style="margin-top: 0%; margin-bottom: 50px">
        이제는 기록으로 함께 프젝돔이
      </h1>
    </div>
    <div class="btn">
        <div>
            <button type="submit" id="login"><a href="login">로그인</a></button>
            <br>
            <button type="submit" id="singUp"><a href="register">회원가입</a></button>
        </div>
    </div>
  </div>
</body>
</html>