<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="shortcut icon"
          type="image/x-icon"
          href="img/logo2.png"
        />
        <link rel="stylesheet" href="/css/main_header.css" />
        <link rel="stylesheet" href="/css/menu.css" />
        <link rel="stylesheet" href="/css/footerStyle.css" />
        <link rel="stylesheet" href="/css/register.css" />
        <script defer src="js/addProject.js"></script>
        <script defer src="js/menu.js"></script>
        <title>프젝돔이</title>
      <body>
        <nav class="header">
          <div class="fake" style="text-align: center">
            <img
              src="img/fake.png"
              style="height: 60px; width: 60px"
            />
          </div>
          <div class="logo" style="text-align: center">
            <a href="/">
              <img class="img"
              src="img/logo.png"
              style="height: 60px; width: 60px"
              />
            <span class="pjde">프젝돔이</span></a>
          </div>
          <div class="notice_icon">
            <a href=""
              ><img
                src="/img/fake.png"
                style="height: 40px; width: 40px"
            /></a>
          </div>
      </nav>

    <div id="top" style="margin-top: 50px;">
        <form method="GET" action="send">
            <input type="text" id="name" name="name" placeholder="이름 (10자 이내)"><br/>
            <input type="text" id="id" name="id" placeholder="아이디 (20자 이내)"><br/>
            <input type="password" id="password" name="password" placeholder="비밀번호 (20자 이내)"><br/>
            <input type="submit" value="회원가입" id="button">
        </form>
    </div>

    <div id="footer">
        <div class="col-12 col-md">
          <img
            src="img/logo2.png"
            style="height: 70px; width: 70px"
          />
          <br />
          <small class="d-block mb-3"
            >&copy;2022 <br /><a
              class="link-secondary"
              href="https://github.com/hyoging/PJDE"
              target="_blank"
              >PJDE</a
            ></small
          >
        </div>
    
        <div class="col-6 col-md">
          <h5>Name</h5>
          <ul class="list-unstyled">
            <li><a class="link-secondary">고에스더</a></li>
            <li><a class="link-secondary">김효진</a></li>
            <li><a class="link-secondary">송은원</a></li>
            <li><a class="link-secondary">이지민</a></li>
            <li><a class="link-secondary">조나현</a></li>
          </ul>
        </div>
    
        <div class="col-6 col-md">
          <h5>Github</h5>
          <ul class="list-unstyled">
            <li>
              <a
                class="link-secondary"
                href="https://github.com/koesther0528"
                target="_blank"
                ><span class="to-right-underline">koesther0528</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary"
                href="https://github.com/hyoging"
                target="_blank"
                ><span class="to-right-underline">hyoging</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary"
                href="https://github.com/plmqazoknijb"
                target="_blank"
                ><span class="to-right-underline">plmqazoknijb</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary"
                href="https://github.com/jwimini"
                target="_blank"
                ><span class="to-right-underline">jwimini</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary"
                href="https://github.com/c04nh"
                target="_blank"
                ><span class="to-right-underline">c04nh</span></a
              >
            </li>
          </ul>
        </div>
    
        <div class="col-6 col-md">
          <h5>PhoneNumber</h5>
          <ul class="list-unstyled">
            <li>
              <a
                class="link-secondary line"
                href="https://www.facebook.com/profile.php?id=100012080979497"
                target="_blank"
                ><span class="to-right-underline">010-6316-3948</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary line"
                href="https://www.facebook.com/profile.php?id=100012743581782"
                target="_blank"
                ><span class="to-right-underline">010-5358-4934</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary line"
                href="https://www.facebook.com/profile.php?id=100016988671264"
                target="_blank"
                ><span class="to-right-underline">010-4472-3701</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary line"
                href="https://www.facebook.com/profile.php?id=100011074187247"
                target="_blank"
                ><span class="to-right-underline">010-2162-0709</span></a
              >
            </li>
            <li>
              <a
                class="link-secondary line"
                href="https://www.facebook.com/profile.php?id=100011074187247"
                target="_blank"
                ><span class="to-right-underline">010-2657-7498</span></a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Email</h5>
          <ul class="list-unstyled">
            <li><a class="link-secondary">w2021@e-mirim.hs.kr</a></li>
            <li><a class="link-secondary">w2030@e-mirim.hs.kr</a></li>
            <li><a class="link-secondary">w2033@e-mirim.hs.kr</a></li>
            <li><a class="link-secondary">w2037@e-mirim.hs.kr</a></li>
            <li><a class="link-secondary">w2038@e-mirim.hs.kr</a></li>
          </ul>
        </div>
      </div>
</body>

</html>