@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    box-sizing: border-box;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 1px solid black;
    height: 65px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: InfinitySans-BoldA1;
    font-size: 30pt;
    margin: 10px;
}

.logo a{
    margin-bottom: 14px;
}
.notice_icon{
    margin-right: 20px;
}

.img{
    position:relative;
    top: 12px;
}
.pjde{
    position:relative;
    bottom: 3px;
}

.setting_menu button{
    background-color: white;
    border: 0px;
}