@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body {
  font-family: 'InfinitySans-RegularA1';
  
}
form{
  width: 100%;
}
  
.inner {
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
   
}
  
header {
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: rgb(121, 143, 186);   
}

header h1{
    margin: 0px;
}
  
.searchBox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
  
.searchBtn {
    width: 120px;
    /* height: 10px; */
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 5px;
    cursor: pointer;
}
  
.searchBtn:nth-child(3) {
    margin-right: 0px;
}
  
.searchBtn:hover {
    border: 2px solid rgb(255, 255, 255);
}
  
.addBox {
    height: 70px;
}
  
.addBox_inner {
    display: flex;
    margin-bottom: 5px;
    margin-top: 30px;
}
  
.addTxt{
    font-family: 'InfinitySans-RegularA1';
    width: 900px;
    /* margin-left: 0px; */
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    background-color: transparent;
}
  
.addBtn {
    border:none;
    background-color: transparent;
    font-size: 25px;
    color: rgb(65, 65, 65);
    cursor: pointer;
    font-size: 25px;
}
  
.addBtn:hover {
    color: rgb(0, 0, 0);
}
  
.notice {
    color: rgb(201, 65, 65);
    font-size: 11px;
}
  
.listBox_inner {
    width: 100%;
    min-height: 300px;
    margin: 10px 0 30px;
    overflow: auto;
    font-size: 24px;
}
  
.list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
  
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    border: 1px solid;
    outline: 0;
    cursor: pointer;
}
  
input[type="checkbox"]:checked {
    background-color: #fff;
}
  
.listLb {
    width: 90%;
    display: inline-block;
    cursor: pointer;
}
  
.delBtn {
    width: 10%;
    display: inline-block;
    text-align: end;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 20px;
    color: rgb(163, 155, 155);
    cursor: pointer;
}
  
.delBtn:hover {
    color: rgb(75, 74, 74);
}
  
.allCheckBox {
    display: flex;
    justify-content: space-between;
    width: 800px;
}
  
.allSelect_lb {
    color: rgb(119 112 112);
    text-shadow: 1px 1px 1px ghostwhite;
}
  
.allSelect_lb:hover {
    color: rgb(75, 74, 74);
}
  
.allDel {
    color: rgb(119 112 112);
    text-shadow: 1px 1px 1px ghostwhite;
    text-decoration: none;
}
  
.allDel:hover {
    color: rgb(75, 74, 74);
}
  