<!DOCTYPE html>
<html lang="en">
  <head>
    <title>프젝돔이</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../public/assets/css/main_header.css" />
  </head>
  <body>
    <nav class="header">
      <div class="fake" style="text-align: center">
        <img
          src="../../public/assets/img/fake.png"
          style="height: 60px; width: 60px"
        />
      </div>
      <div class="logo" style="text-align: center">
        <img
          src="/public/assets/img/logo.png"
          style="height: 60px; width: 60px"
        />
        <span><a href="../../public/main.html">프젝돔이</a></span>
      </div>
      <div class="notice_icon">
        <a href="../../views/notice/notice.html"
          ><img
            src="../../public/assets/img/notice.png"
            style="height: 40px; width: 40px"
        /></a>
      </div>
    </nav>
  </body>
</html>
