@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: #ffffff;
}
body {
  font-family: 'InfinitySans-RegularA1';
  background-color: #fdfdfd;
  color: #f1f1f1;
  margin-top: 100px;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #798FBA;
  color: rgb(255, 255, 255);
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  font-size: 17px;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgb(248, 248, 248);
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  font-family: sans-serif;
  border-top: 1px solid;
  font-size: 16px;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}

.inner {
  width: 600px;
  height: 500px;
  padding: 30px;
  margin: 80px auto;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);   
}


.searchBox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.searchBtn {
  width: 120px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 16px;
  /* cursor: pointer; */
}

.searchBtn:nth-child(3) {
  margin-right: 0px;
}

.searchBtn:hover {
  border: 2px solid rgb(255, 255, 255);
}

.addBox {
  height: 70px;
}

.addBox_inner {
  display: flex;
  margin-bottom: 5px;
  margin-top: 30px;
}

.addTxt{
  font-family: 'InfinitySans-RegularA1';
  width: 900px;
  margin-left: 50px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgb(163, 155, 155);
  outline: none;
  font-size: 20px;
  background-color: transparent;
}

.addBtn {
  border:none;
  font-family: 'InfinitySans-RegularA1';
  background-color: transparent;
  font-size: 23px;
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-size: 20px;
}

.addBtn:hover {
  color: rgb(0, 0, 0);
}

/* .notice {
  color: rgb(201, 65, 65);
  font-size: 11px;
} */

.listBox_inner {
  width: 100%;
  height: 280px;
  margin: 20px 0;
  overflow: auto;
  font-size: 20px;
  margin-left: 50px;
}

/* 스크롤바 숨기기 */
.listBox_inner::-webkit-scrollbar { 
  display: none;
}

.list {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border: 1px solid;
  outline: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #fff;
}

.listLb {
  width: 90%;
  display: inline-block;
  cursor: pointer;
}

.delBtn {
  width: 10%;
  display: inline-block;
  text-align: end;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 20px;
  color: rgb(163, 155, 155);
  cursor: pointer;
}

.delBtn:hover {
  color: rgb(75, 74, 74);
}

.allCheckBox {
  display: flex;
  justify-content: space-between;
}

/* .allSelect_lb {
  color: rgb(119 112 112);
  text-shadow: 1px 1px 1px ghostwhite;
}

.allSelect_lb:hover {
  color: rgb(75, 74, 74);
}

.allDel {
  color: rgb(119 112 112);
  text-shadow: 1px 1px 1px ghostwhite;
  text-decoration: none;
}

.allDel:hover {
  color: rgb(75, 74, 74);
} */



/* 반응형 */
/* @media (max-width: 768px) {
  .inner {
      width: 500px;
      height: 500px;
  }

  header {
      font-size: 40px;
  }

  header .header-icon {
      font-size: 40px;
  }

  .searchBtn {
      width: 100px;
      height: 30px;
      font-size: 15px;
      margin-right: 8px;
  }

  .addTxt {
      font-size: 15px;
  }

  .listBox_inner {
      font-size: 15px;
  }

  .list {
      margin-bottom: 6px;
  }
  
  .listBox_inner {
      height: 230px;
  }
} */
