<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/public/assets/img/logo2.png"
    />
    <link rel="stylesheet" href="/public/assets/css/addNotice.css" />
    <title>공지사항 추가</title>
  </head>
  <body>
    <nav class="pjWraper">
      <div class="inputPj">
        <input type="text" placeholder=" 공지내용" /> <br />
        <input type="text" placeholder=" 작성자" /> <br />
        <a href="noticeMain.html"
          ><input
            type="button"
            value="완료"
            style="
              background-color: #798fba;
              margin-top: 100px;
              font-size: 15pt;
              color: white;
            "
        /></a>
      </div>
    </nav>
  </body>
</html>
